.libimg{
    max-height: 36em;
    max-width: 25em;
    min-height: 32em;
    min-width: 10em;
}
.eximg{
    max-height: 9em;
    max-width: 7em;
    min-height: 10em;
    min-width: 6em;
}
.cardlib{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 25em;
    min-width: 10em;
}

.libcontainer{
    /*padding-right: 1em;*/
    /*padding-left: 1em;*/
}

.swap{
    width: 7em;
    height: 6em;
 }

p,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary_col: rgb(79, 82, 87);
    --secondary_col: #202124;
}

body{
    color:#fff;
    font-size: 14px;
    background-color: var(--primary_col);

}

.exchange{
    background-color: var(--secondary_col);

    padding: 50px 0;
    margin: 15px 0;
    border-radius: 15px;
}

.user{
    padding-left:50px;
    text-align: center;
}
.user p{
    margin-top: 10px;
}
.user img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.block{
    padding: 0 35px;
}

.block_date{
    display: flex;
    justify-content: end;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}

.block_exchange{
    padding: 10px;

    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.block_exchange_book{
    padding: 10px;
    /* margin: 0 10px; */
    background-color:  var(--primary_col);
    border-radius: 5px;
    text-align: center;
}

.block_exchange_book img{
    width: 100px;
    height: 144px;
    object-position: center;
    object-fit: cover;
    margin-bottom: 5px;
}

.block_exchange_change{
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.block_exchange_change img{
    width: 70px;
    height: 70px;
    cursor: pointer;

    background-color: #fff;
    border-radius: 50%;
}

a{
    color: white !important;
    text-decoration: none !important;
}
/* Media Queries - Adaptive Layouts */

@media (max-width:1200px){
    .exchange{
        padding: 30px 0;
    }
}


@media (max-width:993px){
    .block_exchange{
        justify-content: space-between;
    }
    .exchange{
        padding: 20px 0;
    }
    .block_exchange_book{
        padding: 5px;
    }
    .block_exchange_book img{
        width: 90px;
        height: 130px;
    }
    .user img{
        width: 100px;
        height: 100px;
    }
    .block_exchange_change img{
        width: 50px;
        height: 50px;
    }
}


@media (max-width:768px){
    .exchange{
        padding: 10px 0;
    }
    .block_exchange_book{
        padding: 5px;
    }
    .block_exchange_book img{
        width: 100%;
        height: 120px;
    }
    .user img{
        width: 70px;
        height: 70px;
    }
    .block_date{
        font-size: 14px;
    }
    .user{
        margin-top: 20px;
    }
}



@media (max-width:575px){
    body{
        font-size: 12px;
    }

    .block_exchange_book img{
        width: 100%;
        height: 80px;
    }

    .user img{
        width: 50px;
        height: 50px;
    }
    .block_exchange_change img{
        width: 32px;
        height: 32px;
    }
}




* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#login-page {
    text-align: center;
}

.nickname  {
    color:blue;margin-right:20px;
}
.hidden {
    display: none;
}

.user-container {
    float: right;
    margin-right:5px;
}

#login-container {
    background: #f4f6f6 ;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}


#chat-container {
    position: relative;
    height: 100%;
}

#chat-container #messageForm {
    padding: 20px;
}

#chat-container {
    border: 2px solid #d5dbdb;
    background-color:  #d5dbdb ;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;

}

#chat-container ul {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-container #messageForm {
    padding: 20px;
}

#chat-container ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-container ul li p {
    margin: 0;
}

#chat-container .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-container .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-container .chat-message {
    position: relative;
}

#messageForm .input-message  {
    float: left;
    width: calc(100% - 85px);
}

.connecting {
    text-align: center;
    color: #777;
    width: 100%;
}