<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="layout/loginLayout.html">

<div layout:fragment="site_content" class="libcontainer " >
    <div class="text-center exchange mt-4" style="margin: 0 auto">

        <form method="post" th:action="@{'/submitExchange'}">
            <textarea rows="3" cols="50" type="text" name="comment"></textarea><br>
            <button class="btn btn-success m-3"   >Submit</button>
        </form>

        <div class="   m-0 " style="margin: 0 auto" >
            <div class=" row  m-0">
                <div class="col-5" >
                    <div class="row  m-0" style="">
<!--                        <div th:each="book : ${currentUserBooks}" class="col-4">-->
<!--                            <a th:href="@{'/removebookfromexchange?id='+${book.getId()} + '&type=userBook'}">-->
<!--                            <img th:src="@{'/viewuserbook/'+${book.getCover()}}"-->
<!--                                 class="card-img-top eximg" alt="..."> </a>-->
<!--                            <div class="card-body ">-->

<!--                            </div>-->

<!--                        </div>-->
                        <div th:each="book : ${currentUserBooks}" class="block_exchange_book book1 col-4">
                            <a th:href="@{'/removebookfromexchange?id='+${book.getId()} + '&type=userBook'}">
                            <img th:src="@{'/viewuserbook/'+${book.getCover()}}" alt="bookImg">
                            <p th:text="${book.getBook().getTitle()}">Три товарища</p>
                            <p th:text="${book.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                            </a>
                        </div>

                    </div>


                </div>

                <div class="col-2" >
                    <img src="https://icon-library.com/images/swap-icon-png/swap-icon-png-21.jpg" class="swap"/>
                </div>

                <div class="col-5" >
                    <div class="row  m-0" style="">
<!--                        <div th:each="book : ${currentBooks}" class="col-4">-->
<!--                            <a th:href="@{'/removebookfromexchange?id='+${book.getId()} + '&type=book'}">-->
<!--                            <img th:src="@{'/viewbookex/'+${book.getCover()}}"-->
<!--                                 class="card-img-top eximg" alt="...">-->
<!--                            </a>-->
<!--                            <div class="card-body ">-->

<!--                            </div>-->

<!--                        </div>-->
                        <div th:each="book : ${currentBooks}" class="block_exchange_book book1 col-4">
                            <a th:href="@{'/removebookfromexchange?id='+${book.getId()} + '&type=book'}">
                            <img th:src="@{'/viewbookex/'+${book.getCover()}}" alt="bookImg">
                            <p th:text="${book.getTitle()}">Три товарища</p>
                            <p th:text="${book.getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                            </a>
                        </div>


                    </div>


                </div>

            </div>

        </div>

    </div><br>
    <div class="alert alert-danger m-2" role="alert" th:text="${errorA}" th:if="${errorA}"></div>
    <div class="text-center" style="margin: 0 auto">
        <h5> Your books:</h5>
    </div>
    <form method="get" th:action="@{'/createExchange#pickUserBooks'}"  class="mt-3" id="pickUserBooks">
        <div class="row pl-4">
            <input type="text" class="form-control col-11 shadow " name="searchUserStr" >
            <button class="btn btn-info col-1 shadow"style="position: relative; right: 20px" >Search</button>
        </div>
    </form>
    <div class=" row m-0">
        <div th:each="book : ${userBooks}" class="block_exchange_book book1 col-2">
            <div class="exchange">
                <img th:src="@{'/viewuserbook/'+${book.getCover()}}" class=" " alt="...">
                <div class=" ">
                    <h5 class="card-title m-0" th:text="${book.getBook().getTitle()}">Harry Potter и принц персии</h5>
                    <p class="card-text m-0" th:text="${book.getBook().getAuthor().getName()}">Some quick example </p>
                    <form th:action="@{/addbooktoexchange}" method="POST">
                        <input type="hidden" th:value="${book.getId()}" name="id">
                        <input type="hidden" value="userBook" name="type">
                        <button type="submit" href="#" class="btn btn-success m-0">Add</button>
                    </form>
                </div>
            </div>
        </div>

<!--        <div th:each="book : ${currentUserBooks}" class="block_exchange_book book1 col-4">-->
<!--            <a th:href="@{'/removebookfromexchange?id='+${book.getId()} + '&type=userBook'}">-->
<!--                <img th:src="@{'/viewuserbook/'+${book.getCover()}}" alt="bookImg">-->
<!--                <p th:text="${book.getBook().getTitle()}">Три товарища</p>-->
<!--                <p th:text="${book.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>-->
<!--            </a>-->
<!--        </div>-->


    </div>
    <br>

    <div class="text-center" style="margin: 0 auto">
        <h5> Pick books that you want:</h5>
    </div>
    <form method="get" th:action="@{'/createExchange#pickBooks'}"  class="mt-3" id="pickBooks">
        <div class="row pl-4">
            <input type="text" class="form-control col-11 shadow " name="searchStr" >
            <button class="btn btn-info col-1 shadow"style="position: relative; right: 20px" >Search</button>
        </div>
    </form>
    <div class="container-fluid row m-0" style=" ">
        <div th:each="book : ${books}" class="block_exchange_book book1 col-2">
            <div class="exchange">
                <img th:src="@{'/viewbookex/'+${book.getCover()}}" class=" " alt="...">
                <div class="  ">
                    <h5 class="card-title m-0" th:text="${book.getTitle()}">Harry Potter и принц персии</h5>
                    <p class="card-text m-0" th:text="${book.getAuthor().getName()}">Some quick example </p>
                    <form th:action="@{/addbooktoexchange}" method="POST">
                        <input type="hidden" th:value="${book.getId()}" name="id">
                        <input type="hidden" value="book" name="type">
                        <button type="submit" href="#" class="btn btn-success m-0">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</html>