<html   xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorate = "layout/loginLayout.html" >

<div layout:fragment="site_content" class="container-fluid libcontainer m-0" >

    <main class="wrapper">
        <div class="alert alert-success mt-2" role="alert" th:text="${successA}" th:if="${successA}"></div>
        <div class="exchanges">
            <div class="">

                <div class="exchange">
                    <div class="row">
                        <div class="col-12 user">
                            <div class="block_date" th:text="${exchange.getDate()}">
                                20.10.2021
                            </div>
                            <img th:src="@{'/viewphoto/'+${exchange.getUser().getUserAvatar()}}" alt="userLogo">
                            <p th:text="${exchange.getUser().getFullName()}">
                                Alisher
                            </p>

                            <div class="block_desc" th:text="${exchange.getComment()}">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ea voluptates dolor quam vitae non recusandae?
                            </div>
                        </div>
                        <div class="col-12 block">

                            <div class="block_exchange">

                                        <div class="col-5" >
                                            <div class="row  m-0" style=" ">
<!--                                                <div th:each="book : ${exchange.getUserBooks()}" class="col-4">-->
<!--                                                    <img th:src="@{'/viewuserbook/'+${book.getCover()}}"-->
<!--                                                         class="card-img-top eximg" alt="...">-->
<!--                                                    <div class="card-body ">-->

<!--                                                    </div>-->

<!--                                                </div>-->
                                                <div th:each="book : ${exchange.getUserBooks()}" class="block_exchange_book book1 col-4">
                                                    <img th:src="@{'/viewuserbook/'+${book.getCover()}}" alt="bookImg">
                                                    <p th:text="${book.getBook().getTitle()}">Три товарища</p>
                                                    <p th:text="${book.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                                                </div>

                                            </div>


                                        </div>

                                        <div class="col-2" style="margin-top: 3em !important;">
                                            <img src="https://icon-library.com/images/swap-icon-png/swap-icon-png-21.jpg" class="swap"/>
                                        </div>

                                        <div class="col-5" >
                                            <div class="row  m-0" style="">
<!--                                                <div th:each="book : ${exchange.getBooks()}" class="col-4">-->

<!--                                                    <img th:src="@{'/viewbookex/'+${book.getCover()}}"-->
<!--                                                         class="card-img-top eximg" alt="...">-->

<!--                                                    <div class="card-body ">-->

<!--                                                    </div>-->

<!--                                                </div>-->
                                                <div th:each="book : ${exchange.getBooks()}" class="block_exchange_book book1 col-4">
                                                    <img th:src="@{'/viewbookex/'+${book.getCover()}}" alt="bookImg">
                                                    <p th:text="${book.getTitle()}">Три товарища</p>
                                                    <p th:text="${book.getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                                                </div>

                                            </div>


                                        </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div th:each="offer : ${offers}" class="exchange" th:styleappend="${offer.isPicked()} ? 'background-color: darkred' : ''">


                    <div   class="row">

                        <div class="col-12 user">
                            <div class="block_date" th:text="${offer.getDate()}">
                            20.10.2021
                        </div>
                            <div class="user__logo">
                                <img th:src="@{'/viewphoto/'+${offer.getUser().getUserAvatar()}}" alt="userLogo">
                            </div>
                            <p th:text="${offer.getUser().getFullName()}">
                            admin123
                            </p>

                            <div class="block_desc" th:text="${offer.getComment()}">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, cum. Illum adipisci maxime aliquam cum deleniti inventore error enim id accusantium neque, quidem, voluptas recusandae eius nulla qui eaque architecto?
                            </div>
                        </div>
                        <div class="col-12 block">

                            <div class="block_exchange">

                                <div th:each="userBook : ${offer.getUserBooks()}" class="block_exchange_book book1">
                                    <img th:src="@{'/viewuserbook/'+${userBook.getCover()}}" alt="bookImg">
                                    <p th:text="${userBook.getBook().getTitle()}">Три товарища</p>
                                    <p th:text="${userBook.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div th:if="${myExchange}">
                        <form method="post" th:action="@{'/pickOffer'}">
                            <button class="btn btn-success m-3"   >ACCEPT OFFER</button> <br>
                            <input type="hidden" name="offer_id" th:value="${offer.getId()}">
                            <input type="hidden" name="exchange_id" th:value="${exchange.getId()}">
                        </form>
                    </div>

                </div>



            </div>


            <div th:if="${canOffer}" class="mt-4">

                <form method="post" th:action="@{'/postOffer'}">
                    <textarea rows="3" cols="50" type="text" name="comment"></textarea><br>
                    <button class="btn btn-success m-3"   >Submit</button>
                    <input type="hidden" name="exchange_id" th:value="${exchange.getId()}">
                </form>
                <div class="exchange  row  m-0" style="">

                    <!--                <div th:each="book : ${currentOfferBooks}" class="col-4">-->
                    <!--                    <a th:href="@{'/removebookfromoffer?id='+${book.getId()} + '&exchange_id=' +${exchange.getId()}}">-->
                    <!--                        <img th:src="@{'/viewuserbook/'+${book.getCover()}}"-->
                    <!--                             class="card-img-top eximg" alt="..."> </a>-->
                    <!--                    <div class="card-body ">-->

                    <!--                    </div>-->

                    <!--                </div>-->
                    <!--                <div th:each="book : ${currentOfferBooks}" class="block_exchange_book book1 col-4">-->
                    <!--                    <a th:href="@{'/removebookfromoffer?id='+${book.getId()} + '&exchange_id=' +${exchange.getId()}}">-->
                    <!--                    <img th:src="@{'/viewuserbook/'+${book.getCover()}}" alt="bookImg">-->
                    <!--                    <p th:text="${book.getBook().getTitle()}">Три товарища</p>-->
                    <!--                    <p th:text="${book.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>-->
                    <!--                    </a>-->
                    <!--                </div>-->
                    <div class="col-12 block">

                        <div class="block_exchange">

                            <div th:each="userBook : ${currentOfferBooks}" class="block_exchange_book book1">
                                <a th:href="@{'/removebookfromoffer?id='+${userBook.getId()} + '&exchange_id=' +${exchange.getId()}}">
                                    <img th:src="@{'/viewuserbook/'+${userBook.getCover()}}" alt="bookImg">
                                    <p th:text="${userBook.getBook().getTitle()}">Три товарища</p>
                                    <p th:text="${userBook.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                                </a>
                            </div>


                        </div>
                    </div>

                </div>
                <br>
            <div class="text-center" style="margin: 0 auto">
                <h3> Your books:</h3>
            </div>
                <div class="alert alert-danger mt-2" role="alert" th:text="${errorA}" th:if="${errorA}"></div>
                <form method="get" th:action="@{'#pickUserBooks'}"  class="mt-3" id="pickUserBooks">
                    <div class="row pl-4">
                        <input type="text" class="form-control col-11 shadow " name="searchUserStr" >
                        <button class="btn btn-info col-1 shadow"style="position: relative; right: 20px" >Search</button>
                    </div>
                </form>
            <div class="  row m-0">
                <div th:each="book : ${userBooks}" class="block_exchange_book book1 col-2">
                    <div class="exchange">
                        <img th:src="@{'/viewuserbook/'+${book.getCover()}}" class="" alt="...">
                        <div class=" ">
                            <h5 class="card-title m-0" th:text="${book.getBook().getTitle()}">Harry Potter и принц персии</h5>
                            <p class="card-text m-0" th:text="${book.getBook().getAuthor().getName()}">Some quick example </p>
                            <form th:action="@{/addbooktooffer}" method="POST">
                                <input type="hidden" th:value="${book.getId()}" name="id">
                                <input type="hidden" value="offerBook" name="type">
                                <input type="hidden" name="exchange_id" th:value="${exchange.getId()}">
                                <button type="submit" href="#" class="btn btn-success m-0">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </main>







</div>


</html>