
<html   xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorate = "layout/loginLayout.html" >

<div layout:fragment="site_content" class="container-fluid libcontainer m-0" >
    <div class="text-center">
        <a href="/createExchange" class="btn btn-danger m-3">Create Exchange</a>
    </div>

    <div class="   m-0 " style="margin: 0 auto" >

        <div class="alert alert-success" role="alert" th:text="${successA}" th:if="${successA}"></div>

        <div th:each="exchange : ${exchangesOpen}" class="exchange" >
            <a  class="row  m-0" th:href="@{'/exchangeDetails/'+${exchange.getId()}}" style="width: 100% !important;">
            <div class="col-5" >
                <div class="row  m-0" style="">
<!--                    <div th:each="book : ${exchange.getUserBooks()}" class="col-4">-->
<!--                            <img th:src="@{'/viewuserbook/'+${book.getCover()}}"-->
<!--                                 class="card-img-top eximg" alt="...">-->
<!--                        <div class="card-body ">-->

<!--                        </div>-->

<!--                    </div>-->
                    <div th:each="book : ${exchange.getUserBooks()}" class="block_exchange_book book1 col-4">
                        <img th:src="@{'/viewuserbook/'+${book.getCover()}}" alt="bookImg">
                        <p th:text="${book.getBook().getTitle()}">Три товарища</p>
                        <p th:text="${book.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                    </div>

                </div>


            </div>

            <div class="col-2" style="margin-top: 3em !important;">
                <img src="https://icon-library.com/images/swap-icon-png/swap-icon-png-21.jpg" class="swap"/>
            </div>

            <div class="col-5" >
                <div class="row  m-0" style=" ">
<!--                    <div th:each="book : ${exchange.getBooks()}" class="col-4">-->

<!--                            <img th:src="@{'/viewbookex/'+${book.getCover()}}"-->
<!--                                 class="card-img-top eximg" alt="...">-->

<!--                        <div class="card-body ">-->

<!--                        </div>-->

<!--                    </div>-->
                    <div th:each="book : ${exchange.getBooks()}" class="block_exchange_book book1 col-4">
                        <img th:src="@{'/viewbookex/'+${book.getCover()}}" alt="bookImg">
                        <p th:text="${book.getTitle()}">Три товарища</p>
                        <p th:text="${book.getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                    </div>
                </div>


            </div>
            </a>
        </div>


        <div th:each="exchange : ${exchangesFreeze}" class="exchange" style="background-color: darkblue">
            <a  class="row  m-0" th:href="@{'/exchangeDetails/'+${exchange.getId()}}" style="width: 100% !important;">
                <div class="col-5" >
                    <div class="row  m-0" style="">
                        <!--                    <div th:each="book : ${exchange.getUserBooks()}" class="col-4">-->
                        <!--                            <img th:src="@{'/viewuserbook/'+${book.getCover()}}"-->
                        <!--                                 class="card-img-top eximg" alt="...">-->
                        <!--                        <div class="card-body ">-->

                        <!--                        </div>-->

                        <!--                    </div>-->
                        <div th:each="book : ${exchange.getUserBooks()}" class="block_exchange_book book1 col-4">
                            <img th:src="@{'/viewuserbook/'+${book.getCover()}}" alt="bookImg">
                            <p th:text="${book.getBook().getTitle()}">Три товарища</p>
                            <p th:text="${book.getBook().getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                        </div>

                    </div>


                </div>

                <div class="col-2" style="margin-top: 3em !important;">
                    <img src="https://icon-library.com/images/swap-icon-png/swap-icon-png-0.jpg" class="swap"/>
                </div>

                <div class="col-5" >
                    <div class="row  m-0" style=" ">
                        <!--                    <div th:each="book : ${exchange.getBooks()}" class="col-4">-->

                        <!--                            <img th:src="@{'/viewbookex/'+${book.getCover()}}"-->
                        <!--                                 class="card-img-top eximg" alt="...">-->

                        <!--                        <div class="card-body ">-->

                        <!--                        </div>-->

                        <!--                    </div>-->
                        <div th:each="book : ${exchange.getBooks()}" class="block_exchange_book book1 col-4">
                            <img th:src="@{'/viewbookex/'+${book.getCover()}}" alt="bookImg">
                            <p th:text="${book.getTitle()}">Три товарища</p>
                            <p th:text="${book.getAuthor().getName()}" class="font-italic">Э. Ремарк</p>
                        </div>
                    </div>


                </div>
            </a>
        </div>


    </div>






</div>



</html>