<html   xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/loginLayout.html" >

<div layout:fragment="site_content" class="w-100" >


    <div class="container mt-3">
        <button class="btn btn-success ml-5"  data-toggle="modal" data-target="#addBook" >+ ADD NEW BOOK</button>
        <button class="btn btn-success ml-5"  data-toggle="modal" data-target="#addAuthor" >+ ADD NEW AUTHOR</button>
        <button class="btn btn-success ml-5"  data-toggle="modal" data-target="#addGenre" >+ ADD NEW GENRE</button>
        <button class="btn btn-success ml-5"  data-toggle="modal" data-target="#addUser" >+ ADD NEW USER</button>
        <button class="btn btn-success ml-5"  data-toggle="modal" data-target="#addRole" >+ ADD NEW ROLE</button>
        <div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                    <form th:action="@{/addBook}" method="post" enctype="multipart/form-data">
                        <div class="form-group">

                            Title <input type="text" class="form-control" name="title">
                            Author
                            <select class="form-control" name="author_id">
                                <option th:each="author : ${authors}" th:text="${author.getName()}" th:value="${author.getId()}"></option>

                            </select><br>
                            <input type="file" class="form-control" name="cover">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" style="background-color: rgba(46,86,80,1);">ADD</button>
                        </div>
                    </form>
                </div></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addGenre" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/addGenre}" method="post">
                    <div class="form-group">

                        Name <input type="text" class="form-control" name="name">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: rgba(46,86,80,1);">ADD</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/adduser}" method="post">
                    <div class="form-group">

                        Email <input type="text" class="form-control" name="email">
                        Full name <input type="text" class="form-control" name="name">
                        Password
                        <input type="text" class="form-control" name="pass">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: rgba(46,86,80,1);">ADD</button>
                    </div>
                </form>
            </div>
        </div></div>
    </div>

    <div class="modal fade" id="addAuthor" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form th:action="@{/addAuthor}" method="post">
                        <div class="form-group">
                            Name <input type="text" class="form-control" name="name">

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" style="background-color: rgba(46,86,80,1);">ADD</button>
                        </div>
                    </form>
                </div>
            </div></div>
    </div>

    <div class="modal fade" id="edUser" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/eduser}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id" id="user_id">
                        Email <input type="text" class="form-control" id="email_id" name="email">
                        Full name <input type="text" id="fname_id" class="form-control" name="name">
                        Password
                        <input type="text" id="pass_id" class="form-control" name="pass">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="del" value="1" class="btn btn-danger" >DELETE</button>
                        <button type="submit" class="btn btn-primary" >SAVE</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>
    <div class="modal fade" id="addRole" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/addrole}" method="post">
                    <div class="form-group">

                        Role <input type="text" class="form-control" name="role">

                       Description
                        <input type="text" class="form-control" name="desc">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: rgba(46,86,80,1);">ADD</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>
    <div class="modal fade" id="edCat" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/edcat}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id" id="cat_id_id">
                        Name <input type="text" id="name_id" class="form-control" name="name">

                        Logo Url
                        <input type="text" id="url_id" class="form-control" name="url">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="del" value="1" class="btn btn-danger" >DELETE</button>
                        <button type="submit" class="btn btn-primary" >SAVE</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>

    <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form  th:action="@{/addbr}" method="post">
                    <div class="form-group">

                        Name <input type="text" class="form-control" name="name">

                        Country
                        <select class="form-control" name="country_id">
                            <option th:each="ctn : ${countries}" th:text="${ctn.name}" th:value="${ctn.id}"></option>

                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: rgba(46,86,80,1);">ADD</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>

    <div class="modal fade" id="edAuthor" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/editAuthor}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id_author">
                        Name <input id="name_author" type="text" class="form-control" name="name">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="del" value="1" class="btn btn-danger" >DELETE</button>
                        <button type="submit" class="btn btn-primary" >SAVE</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>

    <div class="modal fade" id="addCountry" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/addctn}" method="post">
                    <div class="form-group">

                        Name <input type="text" class="form-control" name="name">
                        Code <input type="text" class="form-control" name="code">


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: rgba(46,86,80,1);">ADD</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>

    <div class="modal fade" id="edGenre" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form th:action="@{/editGenre}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id_genre">
                        Name <input id="name_genre" type="text" class="form-control" name="name">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >SAVE</button>
                        <button type="submit" name="del" value="1" class="btn btn-danger" >DELETE</button>
                    </div>
                </form>
            </div></div>
        </div>
    </div>

    <div class="container mt-3" style="background-color: #e9ecef; padding-top: 1px">
        <div class="row mt-5">
            <div class="col-12">


                <div class="jumbotron text-center" style="border: 2px solid #28a745; color: white;font-size: 40px;background-color: #202124FF">
                    BOOKS
                </div>
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>AUTHOR</th>
                        <th>EDIT</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${books}">
                        <td th:text="${i.getId()}"></td>
                        <td th:text="${i.getTitle()}"></td>
                        <td th:text="${i.getAuthor()!=null?i.getAuthor().name:'------'}"></td>
                        <td>
                            <a th:href="@{'/book_details/' + ${i.getId()}}" class="btn btn-warning">
                                <span style="color:black; font-weight: 500">EDIT</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>


                <div class="jumbotron text-center" style="border: 2px solid #28a745; color: white;font-size: 40px;background-color: #202124FF">
                    GENRES
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>EDIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${genres}">
                        <td th:text="${i.getId()}"></td>
                        <td th:text="${i.getName()}"></td>
                        <td  >
                            <button th:onclick="edit([[${i.getName()}]]); editidctn([[${i.getId()}]]);   " data-toggle="modal" class="btn btn-warning" data-target="#edGenre" >
                                <span style="color:black; font-weight: 500">EDIT</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="jumbotron text-center" style="border: 2px solid #28a745; color: white;font-size: 40px;background-color: #202124FF">
                    AUTHORS
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>EDIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${authors}">
                        <td th:text="${i.getId()}"></td>
                        <td th:text="${i.getName()}"></td>
                        <td  >
                            <button th:onclick="edit2([[${i.getName()}]]);  editidbr([[${i.getId()}]]);  " data-toggle="modal" class="btn btn-warning" data-target="#edAuthor" >
                                <span style="color:black; font-weight: 500">EDIT</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="jumbotron text-center" style="border: 2px solid #28a745; color: white;font-size: 40px;background-color: #202124FF">
                    USERS
                </div>
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>EMAIL</th>
                        <th>FULL_NAME</th>
                        <th>PASSWORD</th>
                        <th>EDIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${users}">
                        <td th:text="${i.getId()}"></td>
                        <td th:text="${i.getEmail()}"></td>
                        <td th:text="${i.getFullName()}"></td>
                        <td th:text="${i.getPassword()}"></td>

                        <td  >
                            <a th:href="@{'/user_details/' + ${i.getId()}}" class="btn btn-warning">
                                <span style="color:black; font-weight: 500">EDIT</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="jumbotron text-center" style="border: 2px solid #28a745; color: white;font-size: 40px;background-color: #202124FF">
                    ROLES
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>ROLE</th>
                        <th>DESCRIPTION</th>



                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${roles}">
                        <td th:text="${i.getId()}"></td>
                        <td th:text="${i.getAuthority()}"></td>
                        <td th:text="${i.getDescription()}"></td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>